#dvlpz-single-team-page-smart-bar{
    background-color: var(--background-main);
    color: var(--text-main);
    margin-bottom: 10px;
    opacity: .9;
    box-shadow: 0 5px 10px rgba(0,0,0,0.75);
}

#dvlpz_modify_team_floor {
    background-color: var(--background-main);
    color: var(--text-main);
    opacity: .9;
    box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    margin : 10px 0;
}