#dvlpz-smart-bar{
    background-color: var(--background-main);
    width: 95%;
    color: var(--text-main);
    border: 5px solid white;
    border-top: none;
    margin-bottom: 10px;
    opacity: .9;
    box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
}

.MuiCardContent-root .css-1i9wt8r-MuiCardContent-root{
    padding: 0!important;
}