#dvlpz_modify_team_form_card {
    background-color: var(--card-background);
    color: var(--text-main);
}

#dvlpz_modify_team_form_submit_button {
    background-color: var(--background-standard-button);
}

#dvlpz_modify_team_form_submit_button:hover {
    background-color: var(--background-standard-button-hover);
    color: var(--background-standard-button-text-hover);
}