#dvlpz_teams_card {
    background-color: var(--card-background);
    color: var(--text-main);
    cursor: pointer;
    opacity: .9;
}

#dvlpz_teams_card:hover {
    background-color: var(--background-standard-button-hover);
    color: var(--background-standard-button-text-hover);
}