body {
    --background-main: #283b48;
    --background-secondary: #1E1E1E;
    --background-alert: #B00020;
    --text-main: rgba(255, 255, 255, 0.84);
    --text-secondary: #A1A1A1;
    --text-alert: #FFFFFF;
    --background-input: #2D2D2D;
    --text-input: #FFFFFF;
    --background-hover: #353535;
    --background-active: #424242;
    --highlight: #BB86FC;

    background-color: var(--background-main)!important;
    color: var(--text-main)!important;
}

